#alterConetntDiv{
  	z-index:10000;
  	width:100%;
  	position:fixed;
  	top:0px;
  	background-color:rgba(0,0,0,0.6);
  	margin-bottom:0;
  	padding-top:24px;
  	padding-bottom:24px;
  	animation:show_alert_left 2s;
  	animation-fill-mode: forwards;
  	
  	-webkit-animation:show_alert_left 1s;
	animation-fill-mode: forwards;
	-moz-animation:show_alert_left 1s;
	animation-fill-mode: forwards;
	
  }
  @media \0screen\,screen\9 {/* 只支持IE6、7、8 */
  #alterConetntDiv{
    background-color:#000000;
    filter:Alpha(opacity=60);
    position:fixed; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
  #alterConetntDiv *{
    position: relative;/* 设置子元素为相对定位，可让子元素不继承Alpha值 */
  }  
	}
	
	@keyframes show_alert_left{
		from{left:-100%;}
		to{left:0px;}
	}
	@-webkit-keyframes show_alert_left{
		from{left:-100%;}
		to{left:0px;}
	}
	@-moz-keyframes show_alert_left{
		from{left:-100%;}
		to{left:0px;}
	}