@charset "utf-8";
/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article,aside,command,details,figcaption,figure,footer,header,hgroup,mark,meter,nav,output,progress,section,summary,time { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th,figcaption { font-size: 14px; font-weight: normal; font-style: normal; }
fieldset,iframe { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,footer,header,hgroup,nav,section,figure,figcaption { display: block; }

/* LAYOUT */
html { background-color:#fff; }

/* TYPE */
body{font-family: "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";font-size: 14px;min-width: 1080px;}

ol, ul, li{list-style: none;}



/* 我的服务 */
.store_service{
	background-color: #fff;
	text-align: center;
	padding: 43px 0;
	border-bottom: 1px solid #f1f1f1;
	border-top: 1px solid #f1f1f1;
}
.store_service ul li{
	width: 93px;
	float: left;
	display: inline-block;
	margin-left: 143px;
	*margin-left:expression(this.previousSibling==null?"0":"132px");
}
.store_service ul li:first-child{
	margin-left: 0;
}
.store_service ul li span.icon{
	display: inline-block;
	width: 93px;
	height: 38px;
	background: url(../images/footer_icon.png) no-repeat 23px 0;
}
.store_service ul li p{
	font-size: 12px;
	margin-top: 5px;
	text-align: center;
}
.store_service ul li span.icon.change{
	background-position: 23px -40px;
}
.store_service ul li span.icon.repair{
	background-position: 19px -81px;
}
.store_service ul li span.icon.postage{
	background-position: 23px -121px;
}
.store_service ul li span.icon.shop{
	background-position: 23px -160px;
}