@charset "UTF-8";
#store_container{
    background-color: #fff;
}
#store_container a{
    color: #27aee8;
}
#store_container > .content {
    width: 1040px;
    margin: 0 auto;
    line-height: 22px;
    padding: 20px 20px 100px 20px;
}
#store_container > .content > h1{
    font-size: 20px;
    text-align: center;
    margin: 50px 0;
}
#store_container > .content > p{
    margin-bottom: 30px;
}
#store_container > .content > h5{
    margin-bottom: 20px;
}
#payment_help_contain{
    padding: 0 40px;
}
#payment_help_title{
    margin: 30px 0 0;
    font-size: 20px;
    text-align: left;
}
#payment_help_ul{
    margin-top: 40px;
}
#payment_help_ul > li{
    padding-left: 45px;
    margin-bottom: 40px;
}
#payment_help_ul > li .question{
    font-size: 16px;
}
#payment_help_ul > li.payment_help_1{
    background: url(../images/payment_help_1.jpg) no-repeat;
}
/* #payment_help_ul > li.payment_help_2{
    background: url(../images/payment_help_2.jpg) no-repeat;
}
#payment_help_ul > li.payment_help_3{
    background: url(../images/payment_help_3.jpg) no-repeat;
}
#payment_help_ul > li.payment_help_4{
    background: url(../images/payment_help_4.jpg) no-repeat;
}
#payment_help_ul > li.payment_help_5{
    background: url(../images/payment_help_5.jpg) no-repeat;
}
#payment_help_ul > li.payment_help_6{
    background: url(../images/payment_help_6.jpg) no-repeat;
} */