
@media (max-width: 1700px) {
	.portfolio-box .project-post {
		width: 19.98%;
	}

	ul.menu > li {
		margin-left: 40px;
	}
}

@media (max-width: 1400px) {
	.portfolio-box .project-post {
		width: 24.98%;
	}

	ul.menu > li {
		margin-left: 30px;
	}
}

@media (max-width: 1300px) {
	.contact-info-box p span {
		display: block;
	}
}

@media (max-width: 1199px) {
	.portfolio-box .project-post {
		width: 33.3%;
	}

	ul.menu > li {
		margin-left: 15px;
	}

	a.logo {
		margin-right: 10px;
	}

}

@media (max-width: 991px) {
	.portfolio-box .project-post {
		width: 49.98%;
	}

	header {
		text-align: center;
		height: auto;
	}

	.left-part,
	.right-part {
	    width: 100%;
	    float: none;
	    text-align: center;
	}

	a.logo {
		margin: 30px 0;
		float: none;
	}

	.menu-box {
		float: none;
	}

	.contact-info-box {
		display: none;
	}

	ul.menu {
		margin: 0;
	}

	ul.menu > li {
		display: block;
		margin-bottom: 10px;
	}

	ul.menu > li a:before {
	    display: none;
	}

	ul.menu > li > a {
	    padding-bottom: 0 !important;
	}

	ul.drop-down {
	    visibility: visible;
	    opacity: 1;
	    -webkit-transform: rotateX(0deg);
	    -moz-transform: rotateX(0deg);
	    -ms-transform: rotateX(0deg);
	    -o-transform: rotateX(0deg);
	    transform: rotateX(0deg);
	    position: relative;
	    top: inherit;
	    left: inherit;
	    width: auto;
	    text-align: center;
	    padding: 0;
	    border-top: none;
	}

	ul.drop-down li {
	    margin-bottom: 0px;
	}

	ul.drop-down li a {
	    font-size: 15px;
	    color: #b5b5b5;
	    text-transform: capitalize;
	}

	ul.post-tags {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}

	.blog-content {
		margin-left: 0px;
	}

	footer p {
		float: none;
		text-align: center;
		margin-bottom: 15px;
	}

	footer ul.social-icons {
		float: none;
		text-align: center;
	}

	.older-posts {
		margin-bottom: 20px;
	}

	.similar-projects .project-post {
		margin-bottom: 30px;
	}
}

@media (max-width: 767px) {
	.portfolio-box .project-post {
		width: 100%;
	}

	.nav-tabs > li > a span {
		display: none;
	}

	ul.depth {
		margin-left: 0;
	}

	.text-fields {
		float: none;
		width: 100%;
		padding-right: 0px;
	}

	.submit-area {
		float: none;
		width: 100%;
	}

	.comment-form {
		margin-bottom: 30px;
	}

}

@media (max-width: 581px) {

}